.container {width: 1024px; margin-right: auto; margin-left: auto; overflow: auto; background-color: #aaaab7; 
border:solid 10px #4e7979;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;}

body {background-color: #043680}

.navsection h1 {width: 699px; float: left;
    font-size: 53px; 
    font-family: germania one, sans-serif; padding: 5px;}

.navsection img {float: right; padding-bottom: 5px; padding-right: 0px;}

.navsection h2 {font-size: 30px; margin-left: 185px; color: #2055b2; text-decoration: underline; font-family: nanito, sans-serif;}

ul {list-style-type: none; margin-top: 50px; font-family: germania one, sans-serif;}

.navsection li {display: inline-block; margin-right: 75px; font-size: 24px; margin-bottom: 15px;}

.motto {margin-left: 160px; font-size: 25px; color: #d2f6f8; font-family: fjalla, monospace; text-decoration: underline}

.navsection {border-bottom: medium solid #000000;}


.middlesection {overflow: auto; border: solid 2px #64dae5;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;}

.middlesection h3 {font-size: 19px; margin-bottom: 25px;}

.middlesection img {padding: 10px; display: block;}

.middlesection p1 {width:750px;padding-top: 4px; line-height: 25px; float: right; margin-top: -163px;}
.middlesection p2 {width:1010px; padding-top: 4px; line-height: 25px; float: right; padding; 2px;}


.controls {overflow: auto; border: solid 2px #64dae5;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;}

.controls img {margin-top: 10px; padding: 10px; float: left;}

.controls p {line-height: 25px; padding-top: 5px;}

.circle {clear: both;}
.attack {clear: both;}
.attack img {margin-left: 300px;}
.special {clear: both;}
.jump {clear: both;}
.grab {clear: both;}


.characters {overflow: auto; border: solid 2px #64dae5;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; line-height: 25px;}

.characters img {margin-top: 10px; margin-bottom: 10px; padding: 10px; float: left;}
.wallpaper {margin-left: 190px;}

.fighters img {margin-left: 195px;}

.tank {clear: both;}
.sword {clear: both;}
.projectiles {clear: both;}
.fight {clear: both;}
.balanced {clear: both;}

.classic_allstar {overflow: auto; border: solid 2px #64dae5;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; line-height: 25px;}

.classic_allstar img {margin-top: 10px; margin-bottom: 10px; padding: 10px; float: left;}
.smenu {margin-left: 325px;}

.solo {clear: both;}
.classic {clear: both;}
.allstar {clear: both;}

a:link {color:#7deef8; text-decoration: none;}
a:visited {color:#7deef8; text-decoration: none;}
a:hover {color: #d7d7ed; text-decoration: underline}
