<section class="alt-section section-projects">

    <h4 id="projects">Some Stuff I've Made</h4>
    
    <div class="work-belt">
        
        <div class="thumb-wrap">
            <div class="jz-thumb-container">

                {% for project in site.projects %}

                <a class="jz-thumb-unit" data-folder="{{ project.folder }}" style="background-image: url(/assets/img/projects/{{ project.folder }}/thumb.jpg)">
                    <div class="jz-thumb-overlay">
                        <strong>{{ project.name }}</strong>
                    </div>
                </a>

                {% endfor %}

            </div>
        </div>
        
        <div class="work-wrap">
            <div class="work-container">
                <div class="work-return">{% include icon-back.html %}</div>
                <h5 class="project-title">Project 1</h5>
                <div class="project-load"></div>
            </div>
        </div>
        
    </div>
    
</section>