<section>
    <h4 id="news">News</h4>

    <div class="bullets">
        <div class="adate"><b>Summer 2016</b>
        </div> <div class="atext">Internship at <a href="http://www.cellular-research.com/">Cellular Research</a></div>
    </div>

    <div class="bullets">
        <div class="adate"><b>May 2016</b>
        </div> <div class="atext">"Fast and accurate single-cell RNA-seq analysis by clustering of transcript-compatibility counts" is now published in <a href="http://genomebiology.biomedcentral.com/articles/10.1186/s13059-016-0970-8">Genome Biology</a></div>
    </div>

    <div class="bullets">
        <div class="adate"><b>Spring 2016</b>
        </div> <div class="atext">Helped design and teach Stanford's <a href="http://data-science-sequencing.github.io/">Data Science for High-Throughput Sequencing</a> Course</div>
    </div>

    <h4 id="aboutme">About Me</h4>

    <div class="about">

        <div class="face-image" style="text-align: center">
            <img src="/assets/img/{{ site.face-pic }}" width="400px">
        </div>

        <div class="blurb">
          {{ site.blurb }}
        </div>

    </div>

    <div class="skills-interests">

    </div>
</section>
