<section>
    <a name="aboutme"><h4>About Me</h4></a>
    <div class="face-image" style="text-align: right">
        <img src="/assets/img/face.png" class="myphoto">
    </div>
    
    <div class="blurb">
      <p><strong>Hi, I'm Jesse. </strong> I'm currently a first year PhD student in electrical engineering at Stanford University. What you see here is me trying to learn how to make a website. I am going to fill this space with random gibberish until I can find time to put more meaningful content. I do this to make this paragraph look longer, giving me a sense of what it will look like. More content coming soon hopefully. Purple shoelaces running down dandelions. </p>
    </div>
    
    <div class="skills-interests">
    
    </div>
</section>