<section>
    <h4 id="news">News</h4>

    <div class="bullets">
        <div class="adate"><b>Dec. 2018</b>
        </div> <div class="atext">This page is currently no longer maintained. Please see <a href="http://stanford.edu/~jessez/">my Stanford website</a> for more up-to-date information.</div>
    </div>

    <div class="bullets">
        <div class="adate"><b>Oct. 2017</b>
        </div> <div class="atext">"Porcupine Neural Networks: (Almost) All Local Optima are Global" <a href="https://arxiv.org/abs/1710.02196">preprint</a> available on arXiv</div>
    </div>

    <div class="bullets">
        <div class="adate"><b>Sep. 2017</b>
        </div> <div class="atext">"An Interpretable Framework for Clustering Single-Cell RNA-Seq Datasets" <a href="https://www.biorxiv.org/content/early/2017/09/21/191254.full.pdf">preprint</a> available on bioRxiv</div>
    </div>

    <div class="bullets">
        <div class="adate"><b>Aug. 2017</b>
        </div> <div class="atext"> Building classifiers for genomics datasets as an intern at <a href="https://grail.com/">GRAIL</a></div>
    </div>

    <div class="bullets">
        <div class="adate"><b>Jun. 2016</b>
        </div> <div class="atext"> Building machine learning algorithms for massive single cell datasets as an intern at <a href="http://www.cellular-research.com/">Cellular Research </a></div>
    </div>

    <div class="bullets">
        <div class="adate"><b>May 2016</b>
        </div> <div class="atext">"Fast and accurate single-cell RNA-seq analysis by clustering of transcript-compatibility counts" now <a href="http://genomebiology.biomedcentral.com/articles/10.1186/s13059-016-0970-8">published</a> in Genome Biology</div>
    </div>

    <div class="bullets">
        <div class="adate"><b>Mar. 2016</b>
        </div> <div class="atext">Helping design and teach a new course at Stanford: <a href="http://data-science-sequencing.github.io/">Data Science for High-Throughput Sequencing</a></div>
    </div>

    <h4 id="aboutme">About Me</h4>

    <div class="about">

        <div class="face-image" style="text-align: center">
            <img src="/assets/img/{{ site.face-pic }}" width="400px">
        </div>

        <div class="blurb">
          {{ site.blurb }}
        </div>

    </div>

    <div class="skills-interests">

    </div>
</section>
