<footer id="footer" style="background-image: url(/assets/img/{{site.bg-pic}}">

    
    <div class="lockup">
        <div class="image">
            <img src="../favicon.ico" class="selfphoto">
        </div>
        <div class="content-wrap">
            <nav>
                {% for item in site.menu %}
                    <a href="{{ item.url }}"> {{ item.name }} </a>
                {% endfor %}
            </nav>
            <p class="copyright">All content copyright 2015.</p>
            
        </div>
    </div>
    
</footer>
