<section class="projects">

    <h4 id="projects">Some Former Projects</h4>
    
    <div class="jz-thumb-container">
        
        {% for project in site.projects %}
        
        <a href="" class="jz-thumb-unit" style="background-image: url(/assets/img/projects/{{ project.folder }}/thumb.jpg)">
            <div class="jz-thumb-overlay">
                <strong>{{ project.name }}</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>
        
        {% endfor %}
        
    </div>
    
</section>